@import "./login.less";
@import "./sidebar.less";
@import "./tables.less";

// Content wrapper
.content {
  width: 100%;
}

// Pokemon type component
.pokemon-type {
  padding: 4px 8px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  margin: 4px;
}

// Pokemon class component
.move-class {
  margin: 4px;
  height: 25px;
  width: 50px;
  background-size: cover;
}