.sidebar-card {
  background-size: cover !important;
}

.sidebar-item {
  cursor: pointer;
  border-radius: 4px;
}

.sidebar-item:hover {
  background-color: #9e9e9e4d;
}

.sidebar-item-active {
  background-color: #ee1515;
  color: #ffffff;
}

.empty-space-1 {
  height: calc(100% - 333px);
}

.empty-space-2 {
  height: calc(100% - 277px);
}