.sidebar-card {
  background-size: cover !important;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.sidebar-item {
  cursor: pointer;
  border-radius: 4px;
}

.sidebar-item:hover {
  background-color: #9e9e9e4d;
}

.sidebar-item-active {
  background-color: #ee1515;
  color: #ffffff;
}

.empty-space-1 {
  height: calc(100% - 373px);
}

.empty-space-2 {
  height: calc(100% - 317px);
}